<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Interna</title>

    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="criarAnuncio.css" />
</head>

<body>
    <header>
        <nav>
            <!-- Div fantasma - TO DO -->
            <div>

            </div>
            <a href="../home/index.html">
                <img class="logo-image-nav" src="../../public/images/icon.png" alt="logo">
            </a>

            <button class="logout-button">
                Logout
            </button>
        </nav>
    </header>
    <main>
        <form>
            <div>
                <label for="marca">Marca</label>
                <input type="text" id="marca" name="marca">
            </div>
            <div>
                <label for="modelo">Modelo</label>
                <input type="text" id="modelo" name="modelo">
            </div>
            <div>
                <label for="ano">Ano de Fabricação</label>
                <input type="text" id="ano" name="ano">
            </div>
            <div>
                <label for="cor">Cor</label>
                <input type="text" id="cor" name="cor">
            </div>
            <div>
                <label for="quilometragem">Quilometragem</label>
                <input type="text" id="quilometragem" name="quilometragem">
            </div>
            <!-- TO DO: Colocar text area -->
            <div>
                <label for="descricao">Descrição</label>
                <input type="text" id="descricao" name="descricao">
            </div>
            <div>
                <label for="valor">Valor</label>
                <input type="text" id="valor" name="valor">
            </div>
            <div>
                <label for="estado">Estado</label>
                <select id="estado" name="estado" required>
                    <option value="">Selecione</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
            </div>
            <div>
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="cidade">
            </div>
        </form>
    </main>
    <footer>
        <h3>Vitual Cars não é um site real</h3>
    </footer>
</body>

</html>