<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Anúncio</title>

    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../view/user/cadastro.css" />
    <link rel="stylesheet" href="criarAnuncio.css" />
</head>

<body>
    <header>
        <nav class="nav-login">
            <a href="../home/index.html">
                <img class="logo-image-nav" src="../../public/images/icon.png" alt="logo">
            </a>
        </nav>
    </header>

    <main>
        <div class="form-container">
            <h1 class="form-title">Cadastro de Anunciante</h1>
            <form class="cadastro-form" action="processa_cadastro.php" method="POST">
                <label for="marca">Marca</label>
                <input type="text" id="marca" name="marca">

                <label for="modelo">Modelo</label>
                <input type="text" id="modelo" name="modelo">

                <label for="ano">Ano de Fabricação</label>
                <input type="text" id="ano" name="ano">

                <label for="cor">Cor</label>
                <input type="text" id="cor" name="cor">

                <label for="quilometragem">Quilometragem (Km)</label>
                <input type="text" id="quilometragem" name="quilometragem" placeholder="Ex: 1.500 ou 1500,5" pattern="^\d{1,3}(?:[.,]?\d{3})*(?:[.,]\d{1})?$">

                <label for="descricao">Descrição</label>
                <textarea id="descricao" name="descricao" rows="4" placeholder="Deixe sua descrição.."></textarea>

                <label for="valor">Valor</label>
                <input type="text" id="valor" name="valor" pattern="^\d{1,3}(?:[.,]?\d{3})*(?:[.,]\d{2})?$" placeholder="Ex: 1.234,56 ou 1234.56">

                <label for="estado">Estado</label>
                <select id="estado" name="estado" required>
                    <option value="">Selecione</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>

                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="cidade">

                <button type="submit" class="form-button">Criar</button>
            </form>
        </div>

    </main>

    <footer>
        <h3>Vitual Cars não é um site real</h3>
    </footer>
</body>

</html>