<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Interna</title>

    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="interna.css" />
</head>

<body>
    <header>
        <nav>
            <!-- Div fantasma - TO DO -->
            <div>

            </div>
            <a href="../home/index.html">
                <img class="logo-image-nav" src="../../public/images/icon.png" alt="logo">
            </a>

            <button class="btn-login">
                Logout
            </button>
        </nav>
    </header>
    <main>
        <div class="funcionalidades">
            <h1>Painel do Usuário</h1>
            <div class="funcionalidade">
                <a href="criarAnuncio.html">
                    <button>Criar Novo Anúncio</button>
                </a>
            </div>
            <div class="funcionalidade">
                <a href="../anuncio/listagem/listagemAnuncios.html">
                    <button> Listagem de Anúncio</button>
                </a>
            </div>
            <div class="funcionalidade">
                <a href="../anuncio/listagem/listagemInteresses.html">
                    <button> Listagem de Interesses</button>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <h3>Vitual Cars não é um site real</h3>
    </footer>
</body>

</html>