<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="../../public/css/style.css" />
</head>

<body>
  <header>
    <nav>
      <div class="selectors">
        <select type="select" name="marca" id="marca">
          <option value="">Marca</option>
          <option value="AM">Fiat</option>
          <option value="BA">Ford</option>
        </select>

        <select type="select" name="modelo" id="modelo">
          <option value="">Modelo</option>
          <option value="AM">Civic</option>
          <option value="BA">Fiorino</option>
        </select>

        <select type="select" name="localizacao" id="localizacao">
          <option value="">Estado</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
        </select>
      </div>

      <img class="logo-image-nav" src="../../public/images/icon.png" alt="logo">

      <button class="login-button">Login</button>

    </nav>
  </header>

  <main>
    <div class="container">

      <div class="card">
        <h1 class="modelo-carro-card">Civic</h1>
        <img class="imagem-carro-card" src="../../public/images/image1.png" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Honda 2024</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 124.999,00</b>
      </div>

      <div class="card">
        <h1 class="modelo-carro-card">Punto T-jet</h1>
        <img class="imagem-carro-card" src="../../public/images/imagem2.jpeg" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Fiat 2013</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 40.999,00</b>
      </div>

      <div class="card">
        <h1 class="modelo-carro-card">Fiesta</h1>
        <img class="imagem-carro-card" src="../../public/images/imagem3.webp" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Ford 2013</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 62.999,00</b>
      </div>

      <div class="card">
        <h1 class="modelo-carro-card">Ka</h1>
        <img class="imagem-carro-card" src="../../public/images/imagem4.webp" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Ford 2013</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 30.999,00</b>
      </div>

      <div class="card">
        <h1 class="modelo-carro-card">Fiesta</h1>
        <img class="imagem-carro-card" src="../../public/images/imagem3.webp" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Ford 2013</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 62.999,00</b>
      </div>

      <div class="card">
        <h1 class="modelo-carro-card">Fiesta</h1>
        <img class="imagem-carro-card" src="../../public/images/imagem3.webp" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Ford 2013</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 62.999,00</b>
      </div>

      <div class="card">
        <h1 class="modelo-carro-card">Civic</h1>
        <img class="imagem-carro-card" src="../../public/images/image1.png" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Honda 2024</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 124.999,00</b>
      </div>

            <div class="card">
        <h1 class="modelo-carro-card">Civic</h1>
        <img class="imagem-carro-card" src="../../public/images/image1.png" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Honda 2024</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 124.999,00</b>
      </div>

      <div class="card">
        <h1 class="modelo-carro-card">Punto T-jet</h1>
        <img class="imagem-carro-card" src="../../public/images/imagem2.jpeg" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Fiat 2013</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 40.999,00</b>
      </div>

            <div class="card">
        <h1 class="modelo-carro-card">Civic</h1>
        <img class="imagem-carro-card" src="../../public/images/image1.png" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Honda 2024</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 124.999,00</b>
      </div>

            <div class="card">
        <h1 class="modelo-carro-card">Civic</h1>
        <img class="imagem-carro-card" src="../../public/images/image1.png" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Honda 2024</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 124.999,00</b>
      </div>

      <div class="card">
        <h1 class="modelo-carro-card">Punto T-jet</h1>
        <img class="imagem-carro-card" src="../../public/images/imagem2.jpeg" alt="imagem carro do anúncio">
        <div class="aditional-info-card">
          <p>Fiat 2013</p>
          <p>Uberlândia</p>
        </div>
        <b class="valor-carro-card">R$ 40.999,00</b>
      </div>

    </div>
  </main>

  <footer>
    <h3>Vitual Cars não é um site real</h3>
  </footer>

</body>

</html>