<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Detalhes do Anúncio</title>

  <link rel="stylesheet" href="../../public/css/style.css" />
  <link rel="stylesheet" href="detalhes.css" />
</head>
<body>
  <header>
    <nav class="nav-login">
      <a href="../home/index.html">
        <img class="logo-image-nav" src="../../public/images/icon.png" alt="logo">
      </a>
    </nav>
  </header>

  <main>
    <div class="container-anuncio">
      <h1>Civic</h1>
      <div class="container-imagem">
        <img src="../../public/images/image1.png" alt="imagem carro">
      </div>
      <div class="informacoes-veiculo">
        <p><strong>Marca:</strong> Honda</p>
        <p><strong>Ano:</strong> 2024</p>
        <p><strong>Combustível:</strong> Flex</p>
        <p><strong>Quilometragem:</strong> 10.000 km</p>
        <p><strong>Localização:</strong> Uberlândia</p>
        <p><strong>Preço:</strong>R$ 124.999,00</p>
      </div>
    </div>
  </main>

  <footer>
    <h3>Vitual Cars não é um site real</h3>
  </footer>
</body>
</html>
